<p class="picker">
  {% if include.label %}
    <b>Should I Tip In…</b><br>
  {% endif %}

  <select onchange="window.location = this.value;">
    <option value="">Select a country</option>
    {% for country in site.countries %}
      <option value="{{ country.url }}"
              {% if page.url == country.url %}selected{% endif %}>
        {{ country.title }}
      </option>
    {% endfor %}
  </select>

  <noscript>
    <style>
      .picker select { display: none; }
    </style>

    {% for country in site.countries %}
      <a href="{{ country.url }}">{{ country.title }}</a>
    {% endfor %}
  </noscript>
</p>
