---
layout: default
---

<p>
  <img class="flag" src="{{ page.flag_url }}" alt="">
</p>

<h1 class="title">
  Should I Tip In{% if page.article %} {{ page.article }}{% endif %}<br>
  <b>{{ page.title }}?</b>
</h1>

<p class="answers {{ page.answer_class }}">
  <strong class="regular">{{ page.answer }}</strong>
  {% if page.local_answer %}
    <br><span class="local">({{ page.local_answer }})</span>
  {% endif %}
</p>

<ul class="amounts">
  <li>
    <b>Waiters</b><br>
    {{ page.amounts.waiters }}
  </li>

  <li>
    <b>Bartenders</b><br>
    {{ page.amounts.bartenders }}
  </li>

  <li>
    <b>Taxi Drivers</b><br>
    {{ page.amounts.taxi_drivers }}
  </li>

  <li>
    <b>Luggage Handlers</b><br>
    {{ page.amounts.luggage_handlers }}
  </li>

  <li>
    <b>Housekeepers</b><br>
    {{ page.amounts.housekeepers }}
  </li>

  <li>
    <b>Tour Guides</b><br>
    {{ page.amounts.tour_guides }}
  </li>
</ul>

<p>
  {{ page.extra_info | markdownify }}
</p>

<p>
  <a href="https://github.com/noisysocks/shoulditip.in/issues/new?title=The%20page%20on%20{{ page.title | uri_escape }}%20is%20incorrect">
    Make a correction
  </a>
</p>

{% include picker.html label=true %}
